<h1>Add new Customer</h1>

<form [formGroup]="newCustomer" class="grid grid-cols-3 gap-4">
  <label>
    <span>Dni</span>
    <input formControlName="dni" class="p-2 bg-slate-200 rounded-md" />
  </label>
  <label>
    <span>Id</span>
    <input formControlName="id" class="p-2 bg-slate-200 rounded-md" />
  </label>
  <label>
    <span>Email</span>
    <input formControlName="email" class="p-2 bg-slate-200 rounded-md" />
  </label>
  <label>
    <span>Name</span>
    <input formControlName="name" class="p-2 bg-slate-200 rounded-md" />
  </label>
  <label>
    <span>Address:</span>
    <input formControlName="address" class="p-2 bg-slate-200 rounded-md" />
  </label>
</form>

<button (click)="onSubmit()" class="bg-blue-700 text-white rounded-md p-2 mt-4">Save</button>
<button class="bg-red-700 text-white rounded-md p-2 mt-2">Cancel</button>