<main class="w-full h-screen flex">
  <app-sidebar></app-sidebar>
  <div class="bg-slate-500 flex-1 p-4 flex " >
    <div class="rounded-md bg-slate-300 flex-1 p-4"> 
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

