@if (authService.isLoggedIn()) {
<nav class="w-64 flex flex-col justify-between h-screen">
  <h2 class="text-2xl bg-blue-950 text-white p-4">Facturacion</h2>

  <div class=" my-4 flex flex-col p-3">

    @for (route of routes; track $index) {
    <a [routerLink]="[route.href]"
      class="rounded-sm font-medium text-white text-center p-4 bg-indigo-600 mt-2 hover:bg-indigo-400">{{route.label}}</a>
    }
  </div>

  <a (click)="logout()"
    class="p-3 bg-blue-300 hover:bg-blue-400 active:scale-110 transition-all rounded-sm text-white text-center">
    Salir
  </a>
</nav>
}