<div class="bg-slate-900 text-white h-full p-6 overflow-hidden">
  <h1 class="text-4xl font-semibold text-center my-5 ">Create an account</h1>
  <section>
    <form [formGroup]="newUser" class="w-full max-w-xl flex flex-col m-auto gap-4">
      <p class="text-center">Register Now!!</p>
      <label class="">
        <span class="absolute -mt-1 ml-2">First Name</span>
        <input formControlName="firstName" class="p-4 rounded-md border w-full bg-transparent"
          placeholder="First Name" />
      </label>
      <label>
        <span class="absolute -mt-1 ml-2">Last Name</span>
        <input formControlName="lastName" class="p-4 rounded-md border w-full bg-transparent" />
      </label>
      <label>
        <span class="absolute -mt-1 ml-2">Email</span>
        <input formControlName="email" class="p-4 rounded-md border w-full bg-transparent" />
      </label>
      <label>
        <span class="absolute -mt-1 ml-2">Password</span>
        <input formControlName="password" type="password" class="p-4 rounded-md border w-full bg-transparent" />
      </label>
      <label class="my-2">
        <span class="text-sm">I accept terms and conditions</span>
        <input formControlName="isAccepted" class="p-4 rounded-md border ml-3" type="checkbox" />
      </label>
      <button (click)="handleSubmit()" class="p-4 rounded-md bg-blue-600 text-white ">Sign Up</button>
    </form>
  </section>
  <p class="text-center mt-4">
    <a [routerLink]="['/login']">Iniciar sesion</a>
  </p>
</div>