<div>
  <h1>products table</h1>
  <label>
    <span>Buscar: </span>
    <input placeholder="nombre" class="p-2 rounded-md bg-slate-100" />
  </label>
  <br />
  <a [routerLink]="['/newproduct']" >
    <button class="bg-blue-600 rounded-lg text-white py-2 px-4">Nuevo</button>
  </a>

  <table class="table table-auto w-full bg-whitep-2 mt-4">
    <thead>
      <tr>
        <th>Id</th>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Activo</th>
        <th>Fecha creacion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (product of productService.products(); track $index) {
      <tr class="px-4 odd:bg-slate-200">
        <td>{{product.id}}</td>
        <td>{{product.code}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.stock}}</td>
        <td>{{product.isActive?"Yes":"NO"}}</td>
        <td>{{product.createdAt}}</td>
        <td>
          <button class="p-2 bg-blue-500 text-white rounded-md">edit</button>
          <button (click)="deleteProduct(product.id)" class="p-2 bg-red-500 text-white rounded-md ml-2">delete</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>