<div>
  <h1 class="bg-red-600 text-white font-semibold text-lg my-3 p-3">clients table</h1>
  <label>
    <span>Buscar: </span>
    <input placeholder="nombre" class="p-2 rounded-md bg-slate-100 ml-2" />
  </label>

  <a routerLink="new" class="bg-blue-600 rounded-lg text-white block p-3 w-36 my-2 text-center">+ Nuevo</a>

  <table class="table-auto border-collapse border border-slate-700 w-full my-4 p-2 rounded bg-white">
    <thead>
      <tr>
        <th class="text-left pl-3">Id</th>
        <th class="text-left">Dni</th>
        <th class="text-left">Nombre</th>
        <th class="text-left">Direccion</th>
        <th class="text-left">Correo</th>
        <th class="text-left">Fecha de creacion</th>
        <th class="text-left">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (client of adminService.customers(); track $index) {
      <tr class="py-4 odd:bg-slate-200">
        <td class="pl-3">{{client.id}}</td>
        <td>{{client.dni}}</td>
        <td>{{client.name}}</td>
        <td>{{client.address}}</td>
        <td>{{client.email}}</td>
        <td>{{client.createdAt}}</td>
        <td>
          <button (click)="openDialog(client)"
            class="p-2 bg-blue-300 hover:bg-blue-400 text-white rounded-md">edit</button>
          <button (click)="deleteCustomer(client.id)"
            class="p-2 ml-2 bg-red-500 hover:bg-red-400 text-white rounded-md">delete</button>
        </td>
      </tr>
      }@empty {
      <p>No se encontraron resultados</p>
      }
    </tbody>
  </table>

  <dialog #dialog>
    <div class="p-4">
      <h2>Edit Customer</h2>
      <div class="grid grid-cols-2 gap-2">
        <label>
          <span class="block">Nombre:</span>
          <input (change)="onChangeCustomer($event)" name="name" placeholder="Nombre" [value]="currentCustomer.name"
            class="bg-slate-200 p-2 rounded-xl" />
        </label>
        <input (change)="onChangeCustomer($event)" name="dni" placeholder="Nombre" [value]="currentCustomer.dni"
          class="bg-slate-200 p-2 rounded-xl" />
        <input (change)="onChangeCustomer($event)" name="email" placeholder="Email" [value]="currentCustomer.email"
          class="bg-slate-200 p-2 rounded-xl" />
        <input (change)="onChangeCustomer($event)" name="createdAt" type="date" [value]="currentCustomer.createdAt"
          class="bg-slate-200 p-2 rounded-xl" />
        <input (change)="onChangeCustomer($event)" name="address" placeholder="Nombre" [value]="currentCustomer.address"
          class="bg-slate-200 p-2 rounded-xl" />
        <select class="bg-slate-200 p-2 rounded-xl">
          <option>No</option>
          <option>Si</option>
        </select>
      </div>
      <div class="w-full flex justify-end mt-3">
        <button (click)="closeDialog()"
          class="p-2 bg-red-500 hover:bg-red-400 active:scale-110 transition-all text-white rounded-md">Close</button>
        <button (click)="editCustomer()"
          class="p-2 ml-2 bg-blue-500 hover:bg-blue-400 active:scale-110 transition-all text-white rounded-md">Update</button>
      </div>
    </div>
  </dialog>
</div>