<div class="bg-slate-800 w-full h-full grid place-items-center">
  <div class="rounded-lg bg-white flex max-w-2xl m-auto h-4/6">
    <div class="flex-1 grid place-items-center">
      <div class="bg-slate-200 h-48 w-full">
        <img src="assets/login.png" class="w-full aspect-auto" />
      </div>
    </div>
    <div class="flex-1 p-4 grid place-items-center ">
      <div>
        <h3 class="text-center text-xl font-bold">Sign in</h3>
        <form [formGroup]="user">
          <input formControlName="email" id="email" placeholder="email" required
            class="p-3 rounded-3xl mt-8 bg-slate-200 w-full" />
          <div [hidden]="!user.get('email')?.touched || user.get('email')?.pristine ">
            <span [hidden]="!user.get('email')?.errors?.['required']" class="mt-2 text-red-600">Email is required</span>
            <span [hidden]="!user.get('email')?.errors?.['email']" class="mt-2 text-red-600">Not valid email</span>
          </div>
          <!--      <div class="error" *ngIf="email.touched">
            <p *ngIf="email.errors?.['required']">Email is required</p>
            <p *ngIf="email.errors?.['email']">Not a valid Email</p>
          </div> -->
          <input formControlName="password" id="password" placeholder="password"
            class="p-3 rounded-3xl mt-2 bg-slate-200 w-full" type="password" />
          <div *ngIf="password?.touched && password?.hasError('required')" class="mt-2 text-red-600">
            Password is required.
          </div>
          <button (click)="onSubmit()"
            class="block rounded-3xl p-4 bg-green-500 hover:bg-green-400 active:scale-105 transition-all text-white mt-4 w-full ">login</button>
        </form>
      </div>
      <p>Don't have an account? <a [routerLink]="['/register']" class="text-blue-900">Sign up</a></p>
    </div>

  </div>

</div>