<h1>invoices</h1>
<p>Numero de factura: "10123</p>
<section class="mt-6">
  <label>
    <span>Search customer: </span>
    <input (change)="searchCustomer($event)" id="customer" #customerSearchInput autocomplete="off" class="p-2 rounded"
      (click)="showResults=true" />
  </label>

  <div class="bg-blue-500 p-4 absolute z-30 text-white" [hidden]="!showResults">
    <div><button (click)="showResults=false" class="bg-red-500 text-white p-2">Close</button></div>
    @for (customer of customers; track $index) {
    <div class="p-2 transition-all cursor-pointer rounded hover:bg-blue-400" tappable
      (click)="currentCustomer=customer;showResults=false;">{{customer.name}}</div>
    }@empty {
    <p>No se encontraron resultados</p>
    }
  </div>
  <div class="grid grid-cols-3 gap-3 mt-4">
    @if (currentCustomer !=null) {
    <input [value]="currentCustomer.name" disabled class="p-2 rounded" />
    <input [value]="currentCustomer.dni" disabled class="p-2 rounded" />
    <input [value]="currentCustomer.email" disabled class="p-2 rounded" />
    <input [value]="currentCustomer.address" disabled class="p-2 rounded" />
    }
  </div>
</section>
<section class="mt-6" >
  <label>
    <span>Add products: </span>
    <input id="products" #productSearchInput class="p-2 rounded" autocomplete="off" (focus)="showProducts=true" />
  </label>
  <div class="bg-orange-500 text-white p-2 rounded absolute z-10" [hidden]="!showProducts">
    <div><button (click)="showProducts=false" class="p-2 bg-red-500 text-white">close</button></div>
    @for (product of products; track $index) {
    <div (click)="addProduct(product)" class="p-2 hover:bg-orange-400 cursor-pointer">{{product.name}}</div>
    }
  </div>
</section>

<section class="mt-6" >
  <h2>Factura</h2>
  <table class="table table-auto border w-full" >
    <thead>
      <tr>
        <th class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-800 text-left">Codigo</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-800 text-left">Nombre</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-800 text-left">Precio</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-800 text-left">Cantidad</th>
        <th class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-800 text-left">Acctiones</th>
      </tr>
    </thead>
    <tbody class="bg-white dark:bg-slate-800" >
      @for (p of productsList; track $index) {
      <tr>
        <td class="border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-500 dark:text-slate-400">{{p.code}}</td>
        <td class="border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-500 dark:text-slate-400">{{p.name}}</td>
        <td class="border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-500 dark:text-slate-400">{{p.price}}</td>
        <td class="border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-500 dark:text-slate-400">
          <input (change)="increment($event)" [name]="p.id" type="number" />
        </td>
        <td class="border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-500 dark:text-slate-400">
          <button (click)="removeProduct(p.id)" >Borrar</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  
</section>

<section class="mt-6" >
  <p>detalles</p>
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>subtotal</td>
        <td>{{getSubtotal()}}</td>
      </tr>
      <tr>
        <td>Iva</td>
        <td>{{getIVA()}}</td>
      </tr>
      <tr>
        <td>total</td>
        <td>{{getTotal()}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <button (click)="onSubmit()" class="p-2 rounded bg-blue-500 hover:bg-blue-400 text-white" >Guardar</button>
  </div>
</section>