<h1>New product</h1>

<form class="grid grid-cols-3 gap-3 " [formGroup]="newProduct">
  <label>
    <span>id</span>
    <input formControlName="id" class="p-2 bg-slate-200 rounded" />
  </label>
  <label>
    <span>Code</span>
    <input formControlName="code" class="p-2 bg-slate-200 rounded" />
  </label>
  <label>
    <span>Nombre</span>
    <input formControlName="name" class="p-2 bg-slate-200 rounded" />
  </label>
  <label>
    <span>Price</span>
    <input formControlName="price" class="p-2 bg-slate-200 rounded" />
  </label>
  <label>
    <span>Stock</span>
    <input formControlName="stock" class="p-2 bg-slate-200 rounded" />
  </label>
  <label>
    <span>isActive</span>
    <input formControlName="isActive" type="checkbox" class="p-2 bg-slate-200 rounded" />
  </label>

  <button (click)="handleSubmit()" class="bg-blue-500 hover:bg-blue-400 text-white rounded px-4 py-2">Save</button>
  <button>Cancel</button>
</form>