<app-title text="history" />

<section class="mt-6">
  @if (!invoiceService.isLoading()) {
  <table class="table table-auto w-full">
    <thead>
      <tr>
        <th class="text-start">No.</th>
        <th class="text-start">Customer id</th>
        <th class="text-start">Subtotal</th>
        <th class="text-start">IVA</th>
        <th class="text-start">Total</th>
        <th class="text-start">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (invoice of invoiceService.invoices(); track $index) {
      <tr class="odd:bg-slate-400">
        <td>{{invoice.id}}</td>
        <td>{{invoice.customerId}}</td>
        <td>{{invoice.subtotal}}</td>
        <td>{{invoice.iva}}</td>
        <td>{{invoice.total}}</td>
        <td><button (click)="deleteInvoice(invoice.id)" class="bg-red-500 text-white p-2 rounded">Del</button></td>
      </tr>
      }
    </tbody>
  </table>
  }

</section>